
body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-right: 25%;
}

.heading {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 5px 0px;
  
}

h2 {
    color:blue;
}








#signature {

    color: red;
    font-size: 0.7em;
    text-align: center;
    background-color: blue;
}