/* setting the margins for the whole body */
body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-right: 25%;
}

.heading {
    background-color: #EDEDED;
    border-style: solid;
    border-color: #CF8A04;
    border-width: 0px 0px 3px 0px;
  
}

/* resizing and centering the picture */
#propic {
    display: block;
    height: 20%;
    width:20%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center;
}

/* left margin slightly re-entrant */
section {
    margin-left: 2%;
}

/* setting the font styles */
h2 {
    color: #CF8A04;
}

h3 {
    font-style:italic;
}

hr {
    border: 1px solid #CF8A04;
}

#signature {
    font-size: 0.7em;
    text-align: center;
}

/* adding a bit of space at the bottom of the page*/
footer {
    margin-bottom:10%;
}