body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-right: 25%;
}

.heading {
    background-color: #EDEDED;
    border-style: solid;
    border-color: #CF8A04;
    border-width: 0px 0px 5px 0px;
  
}

#propic {
    display: block;
    height: 20%;
    width:20%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center;
}

section {
    margin-left: 2%;
}

h2 {
    color: #CF8A04;
}

h3 {
    font-style:italic;
}

hr {
    border: 1px solid #CF8A04;
}

#signature {
    font-size: 0.7em;
    text-align: center;
}